# Git commands

In [ ]:
# git config --global --add safe.directory 'E:/.Trashes/Grey SSD/教育/Graduate School/French Universities/NEOMA/Machine Learning and Deep Learning/Assignment_Visualization'
# git remote add origin https://github.com/kayla-dsrepo/Academic-Projects.git
# git remote set-url origin git@github.com:kayla-dsrepo/Academic-Projects.git

# git push -u -f origin master

# git commit -m "initial commit"

# Notes

Link
- https://catalog.data.gov/dataset/behavioral-health-and-workforce
- https://catalog.data.gov/dataset/state-drug-utilization-data-2024





"Medicare is mainly designed for those 65 and older and people with disabilities, while Medicaid is for people with qualifying low income at any age."


Sanofi drugs: dupixent, lantus, ALTUVIIIO , Beyfortus, Toujeo

Competitors of Sanofi drugs: Nucala|Fasenra|Astegolimab|Eohilia|Semglee|Tresiba|Basaglar|Levemir|Hemlibra|Roctavian|Hympavzi|Clesrovimab|Arexvy

# Imports

In [1]:
import pandas as pd
import numpy as np
import glob
import re
import datetime as dt

# Process

In [2]:
df = pd.read_csv("Datasets\SDUD-2024.csv")
df.head()

,Utilization Type,State,NDC,Labeler Code,Product Code,Package Size,Year,Quarter,Suppression Used,Product Name,Units Reimbursed,Number of Prescriptions,Total Amount Reimbursed,Medicaid Amount Reimbursed,Non Medicaid Amount Reimbursed
0,FFSU,AK,2143380,2,1433,80,2024,4,False,TRULICITY,230.0,110.0,108512.57,105868.53,2644.04
1,FFSU,AK,2143480,2,1434,80,2024,4,False,TRULICITY,216.0,108.0,102247.58,97153.90,5093.68
2,FFSU,AK,2143611,2,1436,11,2024,4,False,EMGALITY P,32.0,31.0,22193.94,22193.94,0.00
3,FFSU,AK,2144509,2,1445,9,2024,4,True,TALTZ AUTO,NaN,NaN,NaN,NaN,NaN
4,FFSU,AK,2144511,2,1445,11,2024,4,False,TALTZ AUTO,38.0,37.0,253852.99,226811.15,27041.84

In [ ]:
len(set(df['Product Name']))

df[df['Product Name'].str.contains(r'dupix|lantus|ALTUVIIIO|Beyfortus|Toujeo',case=False)].sample(5)

,Utilization Type,State,NDC,Labeler Code,Product Code,Package Size,Year,Quarter,Suppression Used,Product Name,Units Reimbursed,Number of Prescriptions,Total Amount Reimbursed,Medicaid Amount Reimbursed,Non Medicaid Amount Reimbursed
4169141,MCOU,PA,71104098401,71104,984,1,2024,2,False,ALTUVIIIO,171650.0,13.0,832560.96,832560.96,0.00
2838632,FFSU,XX,71104098201,71104,982,1,2024,2,False,ALTUVIIIO,1066410.0,138.0,4893617.32,4768289.84,125327.48
178636,FFSU,AR,71104098401,71104,984,1,2024,2,True,ALTUVIIIO,NaN,NaN,NaN,NaN,NaN
917122,FFSU,GA,88221905,88,2219,5,2024,3,False,LANTUS SOL,90218.0,6259.0,632742.83,629171.24,3571.59
3442294,FFSU,NM,24591401,24,5914,1,2024,1,False,DUPIXENT 3,90.0,24.0,61375.39,61375.39,0.00